---
- hosts: myhost
  gather_facts: yes
  remote_user: ubuntu
  become: yes
  vars:
    NODEJS_VERSION: "12"
    ansible_distribution_release: "xenial"
  tasks:
    - name: Ansible copy file to remote server
      copy:
        src: /Users/caglar/.jenkins/workspace/ing_boot_example_pipeline_master/target/spring-boot-test-rest-0.0.1-SNAPSHOT.jar
        dest: ""
    - name: run jar file
      shell: java -Dserver.port=8888  -jar spring-boot-test-rest-0.0.1-SNAPSHOT.jar